/*SASS variabelen*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #C5CCC8; }

a {
  color: #00B7FF; }

.glyphicon-thumbs-up {
  cursor: pointer; }

.navbar-default {
  background-color: #28BFB3; }

.btn btn-default {
  width: 50%; }
