/*SASS variabelen*/
$primary-color: #C5CCC8;
$navbar:  #28BFB3;
$a:  #00B7FF;
$font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

body {
  font: $font;
  background-color: $primary-color;
}
a {
  color: $a;
}
.glyphicon-thumbs-up {
  cursor: pointer;
}
.navbar-default {
  background-color: $navbar;
}
.btn btn-default {
  width: 50%;
}
