<html>
<head>
  <title>Flapper News with a Loltastic flavour</title>

  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>
</head>

<body ng-app="flapperNews">
  <nav class="navbar navbar-default navbar-pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <a href="/#/home"><img  class="navbar-brand" src="images/AngularJS-large.png" /></a>
      <li ng-show="isLoggedIn()"><a>Welcome to <b>FLAPPER NEWS</b> <i><small>with a little touch of the League of Legends API</small></i>, {{currentUser().toUpperCase() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>

  <div class="row" ng-controller="LolCtrl">
    <div class="col-md-8 col-md-offset-3">
      <input type="text" ng-model="summoner" placeholder="Search summoner" class="form-control" />
      <button ng-click="zoekSummoner(summoner)" class="btn btn-default">Search LOL summoner</button>
      <div ng-repeat="d in data">
        <p>Summoner name: {{d.name}}</p>
        <p>Summoner level: {{d.summonerLevel}}/30</p>
        <img src="http://avatar.leagueoflegends.com/euw/{{d.name}}.png" />

        <!--Use of directive -->
        <my-widget title="Summoner name: {{d.name}}">
          <p>Summoner level: {{d.summonerLevel}}/30</p>
          <img src="http://avatar.leagueoflegends.com/euw/{{d.name}}.png" />
        </my-widget>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Flapper News</h1>
    </div>

    <div ng-repeat="post in posts | orderBy: '-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)"></span>
      {{post.upvotes}}
      <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(post)"></span>
      <span style="font-size:20px;margin-left:10px">
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}} |
        </a>
        <span ng-hide="post.link">
          {{post.title}} |
        </span>
        <span ng-show="post.author">
          posted by <a>{{post.author}}</a> |
        </span>
      </span>
      <span>
        <a href="#/posts/{{post._id}}">Comments</a> ({{post.comments.length}})
      </span>
    </div>

    <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px">
      <h3>Add a new post:</h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="title">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" ng-model="link">
      </div>

      <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
    </div>
  </script>

  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(comment)"></span>
      {{comment.upvotes}}
      <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(comment)"></span>
      - by {{comment.author}}
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>

    <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
      </div>

      <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
    </div>
  </script>

  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Flapper News</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()" style="margin-top:30px;">
      <h3>Register</h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>


  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Flapper News</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()" style="margin-top:30px;">
      <h3>Log In</h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>
</body>

</html>
